* {
    Box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

ul {
    list-style: none;
    text-align: center;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 1rem;
}

nav {
    display: block;
    background-color: black;
    border-bottom: 1px solid grey;
    width: 100%;
    height: 50px;
    position: fixed;
}

.box {
    height: 1000px;
    border-bottom: 1px solid grey;
    padding-top: 50px;
    color: black;
    font-size: 50px;
    text-align: center;
}

#Home {
    background-image: url("/Images/Bear.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    /* background-color: black; */
}

#About {
    background-image: url("/Images/Tiger.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    /* background-color: black; */
}

#Contact {
    background-image: url("/Images/Pig.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    /* background-color: black; */
}

footer {
    display: block;
    color: transparent;
}

p {
    color: black !important;

}