* {
    Box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black;
}

ul {
    text-align: center;
}

.liNav {
    display: inline-block;
}

a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 1rem;
}

nav {
    display: block;
    background-color: black;
    border-bottom: 1px solid grey;
    width: 100%;
    height: 50px;
    position: fixed;
    overflow: hidden;
    top: 0;
    z-index: +1;
}

footer {
    background-color: black;
    color: white;
    font-size: 1em;
    text-align: center;
    padding-top: 5px;
}

p {
    color: black !important;
}

a:hover {
    background-color: midnightblue;
  }

.clear {
    clear: both;
}

.content {
    color: black;
    text-align: center;
    width: 45%;
    padding: 10px, 10px;
    float: center;
    margin-top: 50px;
    margin-left: 30%;
    background-color: white;
    opacity: 0.75;
}

.contentAbout {
    color: black;
    text-align: center;
    width: 66%;
    padding: 10px, 10px;
    float: center;
    margin-top: 100px;
    margin-left: calc(100%  /6);
    background-color: white;
    opacity: 0.70;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: calc(100%  /3);
    border: none;
    text-align: left;
    outline: none;
    font-size: 1em;
  }
  
.active, .collapsible:hover {
    background-color: #555;
  }
  
.contentContact {
    width: calc(100%  /3);
    padding: 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    color: black;
    float: center;
    margin-left: calc(100%  /3);
}

.box {
    height: 1010px;
    border-bottom: 1px solid grey;
    padding-top: 50px;
    color: black;
    font-size: 1em;
    text-align: center;
    width: 100%;
}

#Home {
    background-image: url("/Images/Bear.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-color: black;
    opacity: 50%;
    font-size: 1em;
}

#About {
    background-image: url("/Images/Tiger.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    font-size: 1em;
}

#Contact {
    background-image: url("/Images/Pig.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    font-size: 1em;
    width: 100%;
}



